.from_to{
    display: grid;
    grid-template-rows: auto auto;
    .single{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}
.search_tab{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 0 20px 0;
}
.dates{
    display:grid;
    grid-template-rows: auto auto;
    .picker{
        margin-top:4%;
        box-sizing: border-box;
        width:100%;
        height: fit-content;
    }
}
.look_for{
    display:block;
    margin: auto;
    width: 20%;
    min-width: fit-content;
}
@media screen and (max-width: 1024px) {
    .search_tab{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        margin: 20px 0 20px 0;
    }
}